* {
    font-family: Helvetica, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e8e2ed;
    margin: 0px;
}

.heroBG, .subHeader, .recipeCard, .artContent, .chefInfo {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


.heroBG {
    display: flex;
    background-color: rgb(74, 63, 84);
    position: relative;
    z-index: 1;
}

.hero, .bodyContent {
    margin: auto;
    width: 60%;
}

.hero {
    display: flex;
    flex-direction: column;
    color: #f4f0f7;
}

.upperHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 30px 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.mainHeader {
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
}

.loginList, .heroLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
}

.loginList {
    font-size: 15px;
}

.heroLinks {
    padding-left: 0px;
}

#holidayLink {
    color: rgb(214, 111, 128);
}

.lowerHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bodyBG {
    background-color: #f4f0f7;
    position: relative;
    z-index: 0;
}

.bodyContent {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-between;
    padding-top: 40px;
}

.featRecipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeader {
    font-size: 20px;
    font-weight: bold;
    color: #f4f0f7;
    background-color: rgb(74, 63, 84);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.recipeCard {
    display: flex;
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 135px;
    height: 145px;
}

.cardHeader {
    display: flex;
    flex-direction: column;
}

.cardCat {
    display: flex;
    color: rgb(74, 63, 84);
    font-size: 10px;
    padding-bottom: 2px;
}

.cardTitles {
    display: flex;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.cardFooter {
    display: flex;
    flex-direction: column;
}

.timeServe {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}

.rating {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    gap: 3px;
}

.featArt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#art {
    width: 175px;
    text-align: center;
}

#artTitle {
    display: flex;
    font-size: 15px;
    padding: 5px;
}

.artContent {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0px 15px;
}



.featChef {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chef {
    width: 150px;
    text-align: center;
}

#chefImg {
    vertical-align: middle;
}

.chefInfo {
    display: flex;
    flex-direction: column;
    height: 274px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
    min-width: 200px;
    max-width: 200px;
}

#chefTitle {
    padding: 5px 0px 0px 5px;
}

.cardPara {
    display: flex;
    font-size: 13px;
    padding: 15px 5px 5px 5px;
    width: auto;
    text-indent: 20px;
}