* {
    font-family: Helvetica, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e8e2ed;
    margin: 0px;
}

.heroBG, .hero, .upperHero, .logo, .loginList, .heroLinks, .lowerHero, .bodyContent, .featRecipes, .recipeCard, .cardInfo, .cardHeader, .cardCat, .cardTitles, .cardFooter, .timeServe, .rating, .featArt, #artTitle, .artContent, .featChef, .chefInfo, .cardPara, #readMore {
    display: flex;
}

.heroBG, .subHeader, .recipeCard, .artContent, .chefInfo {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.upperHero, .logo, .lowerHero, .featRecipes, .rating, .featArt, .featChef {
    align-items: center;
}

.upperHero, .lowerHero, .bodyContent, .cardInfo, .timeServe {
    justify-content: space-between;
}

.hero, .featRecipes, .cardInfo, .cardHeader, .cardFooter, .featArt, .artContent, .featChef, .chefInfo {
    flex-direction: column;
}

.mainHeader, .subHeader, .cardTitles, .rating {
    font-weight: bold;
}

.loginList, .cardTitles, #artTitle {
    font-size: 15px;
}

.heroBG, .bodyBG {
    position: relative;
}

#art, #chef {
    text-align: center;
}

.recipeCard, .artContent, .chefInfo {
    background-color: rgb(255, 255, 255);
}

.heroBG, .subHeader {
    background-color: rgb(74, 63, 84);
}

.heroBG {
    z-index: 1;
}

.hero, .bodyContent {
    margin: auto;
    width: 60%;
}

.hero, .subHeader {
    color: #f4f0f7;
}

.subHeader, .cardInfo, #artTitle {
    padding: 5px;
}

.upperHero {
    padding: 5px 0px 30px 0px;
}

.mainHeader {
    font-size: 30px;
    padding-left: 15px;
}

.loginList, .heroLinks {
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
}

.heroLinks {
    padding-left: 0px;
}

#holidayLink {
    color: rgb(214, 111, 128);
}

.bodyBG {
    background-color: #f4f0f7;
    z-index: 0;
}

.bodyContent {
    padding-top: 40px;
}

.subHeader {
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.recipeCard {
    width: 300px;
    height: 150px;
    margin-bottom: 12px;
}

.cardInfo {
    width: 135px;
    height: 145px;
}

.cardCat {
    color: rgb(74, 63, 84);
    font-size: 10px;
    padding-bottom: 2px;
}

.cardTitles {
    color: black;
}

.timeServe {
    font-size: 9px;
}

.rating {
    font-size: 13px;
    gap: 3px;
}

.featArt {
    width: 500px;
}

#art {
    width: 175px;
}

.artContent {
    margin: 0px 15px;
}

#chef {
    width: 150px;
}

#chefImg {
    vertical-align: middle;
}

.chefInfo {
    height: 274px;
    margin-bottom: 12px;
    min-width: 200px;
    max-width: 200px;
}

#chefTitle {
    padding: 5px 0px 0px 5px;
}

.cardPara, #readMore {
    font-size: 13px;
    padding: 15px 5px 5px 5px;
    width: auto;
    text-indent: 20px;
}

a#readMore {
    justify-content: flex-end;
    color: rgb(74, 63, 84);
    text-decoration: underline;
    padding-top: 0px;
}

#chefPara2 {
    padding-bottom: 30px;
}